body
{
  background-color:blue;
}

.imagedisplay
{
  padding-right: 75px;
  padding-left: 75px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: lavender;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 4px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

.red::-moz-range-thumb 
{
  background: #800000;
}

.blue::-moz-range-thumb 
{
  background: #002699;
}

.green::-moz-range-thumb 
{
  background: #4CAF50;
}


input[type="file"] 
{
    display: none;
}
.custom-imageupload
{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
}


/*#wrapper{position:relative;}*/
#Q2{position:absolute; border:0px solid red;}
#Q3{position:absolute; border:0px solid blue;}


.btn-group button {
  background-color: #99CCFF; /* Green background */
  /*border: 1px solid green; /* Green border */*/
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  /*width:40px*/
  /*height:50px*/
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after 
{
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}


.btnhead {
  background-color: #99CCFF; /* Green background */
  /*border: 1px solid green; /* Green border */*/
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  /*cursor: pointer;  Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width:125px
}

.btn
{

  width: 50px
  height:50px
}

.readysize
{
  height: 100px
  width: 50px

}

.btncenter
{
  
}


.magnify {
width: 275px;
margin: 50px auto;
position: relative;
}
.large {
width: 150px;
height: 150px;
position: absolute;
border-radius: 100%;
box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 7px 7px rgba(0, 0, 0, 0.25),  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
background: url('p5.jpg') no-repeat;
display: none;
}
.small {
display: block;
}


#zoom{
   border:1px black solid;
   box-shadow: 5px 5px 10px #1e1e1e;
}