
<html lang="en">

<head>
  <title>Labelling Tool</title>

      <link rel="icon" type="image/png" href="http://example.com/myicon.png">

      <meta   charset="utf-8">
      <meta   name="viewport" content="width=device-width, initial-scale=0.8 ">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="  anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="https://demos.jquerymobile.com/1.4.2/js/jquery.js"></script>
      <link rel="stylesheet" href="https://demos.jquerymobile.com/1.4.2/css/themes/default/jquery.mobile-1.4.2.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--   <link rel="stylesheet" href="{{ url_for('static', filename='css/labelStyle.css') }}">
 -->
    <!--   <script src="/static/canvas.js"></script>
      <script src="/static/threshold.js"></script>
      <script src="/static/median.js"></script>
      <script src="/static/morph.js"></script>
      <script src="/static/connected.js"></script> -->
      <script async src="/static/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script>


    <style>
          .navbar-brand{
            font-size: 40px;
          }

          label{
              color: lightblue;
              font-size: 20px;
              font-style: cursive;
          }

          nav.left_side{
            float: left;
            width: 30%;
            height: 200vh;
            background: #ccc;
            padding: 20px;
          }


                .modal {
                    display:    none;
                    position:   fixed;
                    z-index:    1000;
                    top:        0;
                    left:       0;
                    height:     100%;
                    width:      100%;
                    background: rgba( 255, 255, 255, .8 )
                                url('http://i.stack.imgur.com/FhHRx.gif')
                                50% 50%
                                no-repeat;
                }

                /* When the body has the loading class, we turn
                   the scrollbar off with overflow:hidden */
                body.loading {
                    overflow: hidden;
                }

                /* Anytime the body has the loading class, our
                   modal element will be visible */
                body.loading .modal {
                    display: block;
                }

                span{
                  background-color: lightblue;
                }
    </style>

    <script>
	function show_value1(x1)
	{
	 document.getElementById("slider_value1").innerHTML=x1;
	}
	function show_value2(x2)
	{
	 document.getElementById("slider_value2").innerHTML=x2;
	}
	function show_value3(x3)
	{
	 document.getElementById("slider_value3").innerHTML=x3;
	}
	function show_value4(x4)
	{
	 document.getElementById("slider_value4").innerHTML=x4;
	}
	function show_value5(x5)
	{
	 document.getElementById("slider_value5").innerHTML=x5;
	}
	function show_value6(x6)
	{
	 document.getElementById("slider_value6").innerHTML=x6;
	}
</script>

</head>


<body style="background-color: white">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">PEACOCK ANNOTATION TOOL</a>
        </div>
    </nav>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <div class="container-fluid">
        <div class="row">

            <nav class="left_side col-sm-1">

                      <div class="col-sm-1">
                        <button type="button" onclick="toggle();"> Toggle </button>
                      </div>
                      <br><br>

                      <div class="col-sm-1">
                        <button type="button" onclick="sendImg();"> Execute </button>
                      </div>
                      <br><br>

                      <div class="col-sm-1">
                        <button type="button" onclick="download();"> Download </button>
                      </div>
                        <br><br>

                        <div class="col-sm-1" id="CanvasRow" >
                          <br>
                          <br>

                          <h5 class=" col-sm-2">Tools</h5>
                          <br> <br>

                          <div class=" col-sm-2">
                                <button class="btn" onclick="getPencil()"><i class="glyphicon glyphicon-pencil"></i></button>
                                <br><br>
                                <button class="btn" onclick="getErasor()"><i class="glyphicon glyphicon-erase"></i></button>
                          </div>


                          <br><br><br><br>
                          <br>
                          <br>
                          <h5 class=" col-sm-2">Actions</h5>
                          <br> <br>

                          <div class=" col-sm-2">
                              <button class="btn" onclick="increaseSize()"><i class="glyphicon glyphicon-plus"></i></button>
                              <br>
                              <br>
                              <button class="btn" onclick="decreaseSize()"><i class="glyphicon glyphicon-minus-sign"></i></button>

                              <br> <br>
                          </div>
                        </div>

            </nav>


        <div class="col-sm-11" >

            <div class="col-sm-8 imagedisplay" >

                <div class="col-sm">
                  <div class="card">
                    <div class="card-header">
                    Original Image
                    </div>
                    <div class="card-block text-center">
                      <img id="imageOriginal" style="width:1920px; height:1200px;" alt="Uploaded image will appear here" class="card-img-top"/>  <!-- style="width:1920px; height:1200px;"   -->
                    </div>
                    <div class="card-footer text-muted">
                      <input type="file" id="imageInput" name="file" />
                    </div>
                </div>
                </div>
              </div>



              <div>
                <div class=" row col-sm">
                          <div class="card col-sm-8">
                                  <div class="card-header">
                                     Resulting image
                                  </div>

                                  <div class="card-block">
                                    <canvas id="canvas"></canvas>
                                  </div>

                                     <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                          <button type="button" id="circlesButton" class="btn btn-primary">Detect feather eyes</button>
                                        </li>
                                     </ul>

                                  <div class="card-footer">
                                    <a href="#" id="button" class="card-link">Download Image</a>
                                  </div>
                           </div>

                            <div class="col-sm-3 slider">

                            		<p>dp value</p>
                            		<span id="slider_value1" style="color:red;"></span>
									<input width="400" type="range" min="0" max="2" value="1"  step="0.1" class="slider red" id="S1" onchange="show_value1(this.value);">
									<br>

                            		<p>Min distance between circles</p>
                            		<span id="slider_value2" style="color:red;"></span>
									<input width="400" type="range" min="0" max="100" value="20" class="slider red" id="S2" onchange="show_value2(this.value);">
									<br>

                                   <p>threshold1</p>
                                   <span id="slider_value3" style="color:red;"></span>
									<input width="400" type="range" min="0" max="100" value="5" class="slider red" id="S3" onchange="show_value3(this.value);">
                                   <br>

                                   <p>threshold2</p>
                                   <span id="slider_value4" style="color:red;"></span>
									<input width="400" type="range" min="0" max="100" value="29" class="slider red" id="S4" onchange="show_value4(this.value);">
                                   <br>

                                   <p>min radius of circles</p>
                                   <span id="slider_value5" style="color:red;"></span>
									<input width="400" type="range" min="0" max="100" value="5" class="slider red" id="S5" onchange="show_value5(this.value);">
                                   <br>

                                   <p>max radius of circles</p>
                                   <span id="slider_value6" style="color:red;"></span>
									<input width="400" type="range" min="0" max="100" value="18" class="slider red" id="S6" onchange="show_value6(this.value);">
                           </div>
                </div>
             </div>
          </div>

    </div>
  </div>

<!-- ----------------------------------------------------------------------------------------------------- -->



<div class="modal"></div>

<script type="text/javascript">
document.body.classList.add("loading");

let imgElement = document.getElementById('imageOriginal');
let inputElement = document.getElementById('imageInput');
inputElement.addEventListener('change', (e) => {
  imgElement.src = URL.createObjectURL(e.target.files[0]);
}, false);

let mat;

// imgElement.onload = function() {
//   mat = cv.imread(imgElement);
//   cv.imshow('canvas', mat);
// };

document.getElementById('circlesButton').onclick = function() {

  this.disabled = true;
  var v1=document.getElementById("S1").value;
  var v2=document.getElementById("S2").value;
  var v3=document.getElementById("S3").value;
  var v4=document.getElementById("S4").value;
  var v5=document.getElementById("S5").value;
  var v6=document.getElementById("S6").value;

  var vv1 = parseFloat(v1);
  var vv2 = parseFloat(v2);
  var vv3 = parseFloat(v3);
  var vv4 = parseFloat(v4);
  var vv5 = parseFloat(v5);
  var vv6 = parseFloat(v6);

  let mat = cv.imread(imgElement); //<-------
  let dst = mat.clone();
  let circles = new cv.Mat();
  cv.cvtColor(mat, mat, cv.COLOR_RGBA2GRAY, 0);
  // You can try more different parameters
  cv.HoughCircles(mat, circles, cv.HOUGH_GRADIENT, vv1, vv2, vv3, vv4, vv5, vv6);
  // draw circles

  console.log(circles.rows, circles.cols);

  for (let i = 0; i < circles.cols; ++i)
      {
      let x = circles.data32F[i * 3];
      let y = circles.data32F[i * 3 + 1];
      let radius = circles.data32F[i * 3 + 2];
      let center = new cv.Point(x, y);
      cv.circle(dst, center, radius, [255, 255, 255, 255], 2);
      }

  cv.imshow('canvas', dst);
  mat.delete();
  dst.delete();
  circles.delete();

  this.disabled = false;
};

document.getElementById('button').onclick = function() {
    this.href = document.getElementById("canvas").toDataURL();
    this.download = "image.png";
};

function onOpenCvReady() {
  document.body.classList.remove("loading");
}

// =========================================================================

$("#canvas").click(function(e){
     getPosition(e); 
});

var pointSize = 3;

function getPosition(event){
     var rect = canvas.getBoundingClientRect();
     var x = event.clientX - rect.left;
     var y = event.clientY - rect.top;
        
     drawCoordinates(x,y);
}

function drawCoordinates(x,y){	
  	var ctx = document.getElementById("canvas").getContext("2d");


  	ctx.fillStyle = "#ff2626"; // Red color

    ctx.beginPath();
    ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
    ctx.fill();
}


</script>
<!-- <script async src="opencv.js" onload="onOpenCvReady();" type="text/javascript"></script> -->
</body>
</html>
